<ion-header>
  <ion-navbar color="primary">

    <ion-title>Technophilia 2017</ion-title>
  </ion-navbar>

  <ion-toolbar color="secondary">
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="no-scroll">

  <ion-list *ngIf="judgeId">

    <p>List of participating team in Technophilia 2017</p>
    <p>Click on Team for Team's Ballot after the team has presented</p>

    <button ion-item *ngFor="let team of teams" (click)="goToTeamBallot(event, team)">
      <ion-icon name="people"></ion-icon>
      {{team.name}}
    </button>

    <ion-item *ngIf="superJudgeId"> 

      <button ion-button full block (click)="getStandingsForSuperAdmin()">View Standings</button>

    </ion-item>

  </ion-list>

  <ion-list *ngIf="!judgeId">

    <ion-item>
      <ion-label color="primary" stacked>Please enter the Judge's Id:</ion-label>
      <ion-input type="text" [(ngModel)]="userId" required></ion-input>
    </ion-item>

    <ion-item>
      <br><br>

      <button ion-button block round (click)="login()">Judge Login</button> 
    </ion-item>

  </ion-list>

</ion-content>

